/* inside style.css 

.highlight {
    background-color: yellow;
  }
   
  .error {
    background-color: lightcoral;
    border: red;
  }
body {
background-image: url("img_4369.jpeg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;

  background-color: lightblue;
}